<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>메뉴 삭제</title>
</head>
<body>
<h1 style="color: brown">🗑️ 메뉴 삭제하기</h1>
<form action="/menu/delete" method="post">
    <label>삭제할 메뉴 코드 : </label>
    <input type="number" name="menuCode" placeholder="예: 13" required>
    <button type="submit">삭제</button>
</form>
<br>
<button onclick="location.href='/menu/list'">전체 메뉴 목록으로 돌아가기</button>
</body>
</html>